.OurServices{
    margin-top: 100px;
}
.iframe{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    
}
.Our-Services-Cards-2{
    margin-top: -230px;
    padding: 200px 0px 80px 0px;
    width: 100%;
    background-color: rgb(24, 24, 94);
}
@media(max-width:992px){
    .OurServices{
        padding: 100px 12px;
    }

}